.container {
    position: relative;
    width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error {
    color: #f03;
}
.empty {
    position: relative;
}
.list {
    position: relative;
    width: 30%;
    min-width: 300px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #ddd;
    padding: 4px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: #fff;
}